.loginContainer {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 8px lightgrey;
    text-align: center;
    width: 20vw;
    margin: auto;
    margin-top: 10%;
}
.loginContainer {
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vectoranimation 1s infinite ease-in-out alternate;
}
@keyframes vectoranimation {
    to{
        transform: translateY(-10px);
    }
}
form {
    border-radius: 5px;
     border: none;
     width: 20vw;
     height: 40vh;
     background-color: rgb(250, 160, 57);
}
.formheading {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid gainsboro;
    font-size: 1.4rem;
}
form > div > input {
    margin: auto;
    margin-top: 25%;
    font-size: 0.9rem;
    width: 70%;
    height: 3vh;
    padding-left: 2%;
    outline: none;
    border: none;
    background-color: gainsboro;
    cursor: pointer;
}
.loginbtn {
    margin-top: 20%;
    width: 50%;
    height: 3.5vh;
    cursor: progress;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: rgb(7, 7, 6);
    color: white;
}